.toast-tray {
  --toasty-lifetime: 4000ms;
  --toasty-animation-duration: 150ms;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  height: fit-content;
  padding: 1rem;

  &:empty {
    width: 0;
  }

  .toast-tray__toast {
    --ttt-bg: var(--colors-primary-2);
    --ttt-color: var(--colors-foreground-black);

    padding: 1rem;
    backdrop-filter: blur(4px);
    background-color: var(--ttt-bg);
    font-size: 0.8rem;
    border-radius: 0.4rem;
    opacity: 1;
    transform: translate(0);
    color: var(--ttt-color);
    box-shadow: 0 2 10px rgba(0, 0, 0, 0.15);
    width: min(220px, calc(100vw - 2rem));
    white-space: wrap;

    animation:
      var(--toasty-animation-duration) ease-out toast-in,
      var(--toasty-animation-duration) ease-out
        calc(var(--toasty-lifetime) - var(--toasty-animation-duration) + 5ms)
        toast-out;
    animation-composition: add;

    &.--error {
      --ttt-bg: var(--colors-state-error-60);
      --ttt-color: var(--colors-background-light);
    }

    &.--success {
      --ttt-bg: var(--colors-status-safe-60);
      --ttt-color: var(--colors-background-light);
    }

    &.--warn {
      --ttt-bg: var(--colors-status-warning-75);
      --ttt-color: var(--colors-text-dark);
    }
  }
}

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translate(10%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes toast-out {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translate(0) scale(0.6);
  }
}
