.sgdc-layout {
  --sgdc-logo-mr: 0;
  --sgdc-logo-ml: 2.6rem;
  --sgdc-grid-col-w: min(30vw, 300px);

  overflow-y: auto;
  display: grid;
  grid-template-columns: var(--sgdc-grid-col-w) 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
  height: 100%;

  > aside {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--colors-background-light);
    height: 100%;

    &::after {
      content: " ";
      position: absolute;
      top: 32px;
      right: 0;
      bottom: 32px;
      background-color: rgba(217, 217, 217, 0.25);
      width: 1px;
      height: calc(100dvh - 64px);
    }

    > nav {
      margin-right: 2.3333rem;
    }
  }

  > main {
    padding: 0 1.5rem 1.5rem 0;
    grid-column: 2 / 3;
  }

  .sgdc-logo {
    margin: 1.5rem var(--sgdc-logo-mr) 1.5rem var(--sgdc-logo-ml);
    width: 100px;
    height: auto;
  }
}
