.sgdc-layout {
  --sgdc-logo-mr: 0;
  --sgdc-logo-ml: 2.6rem;
  --sgdc-grid-col-w: min(30vw, 300px);

  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 68px auto;
  gap: 1.5rem;
  height: 100%;

  > aside {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 68px;
    background: var(--colors-background-light);
    overflow: hidden;
    box-shadow: var(--);

    &::after {
      content: " ";
      position: absolute;
      top: 32px;
      right: 0;
      bottom: 32px;
      background-color: rgba(217, 217, 217, 0.25);
      width: 1px;
      height: calc(100dvh - 64px);
    }

    > nav {
      margin-right: 2.3333rem;
    }
  }

  > main {
    padding: 0 1.5rem 5rem 1.5rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .sgdc-logo {
    width: 100px;
    height: auto;
  }

  .scdc-layout__img-wrapper {
    overflow: hidden;
    width: 36px;
    height: 36px;
    margin: 1rem;
  }

  @media (min-width: 1255px) {
    grid-template-columns: var(--sgdc-grid-col-w) 1fr;
    grid-template-rows: 1fr;

    .scdc-layout__img-wrapper {
      margin: 1.5rem var(--sgdc-logo-mr) 1.5rem var(--sgdc-logo-ml);
    }

    > aside {
      position: sticky;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      bottom: 0;
      right: unset;
      height: 100%;
      overflow: visible;
      box-shadow: none;
    }

    > main {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0 1.5rem 1.5rem 0;
    }
  }
}
