.action-list {
  display: flex;
}

.button-block.--action.--solid {
  --bb-base-color: var(--colors-background-light);
  --bb-base-bg: rgb(var(--colors-primary-base) / 60%);

  padding: 0.5rem 1rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.34rem;
  border-radius: 0.3333rem;
  word-break: keep-all;
  white-space: nowrap;
  anchor-name: --action;
  anchor-scope: --action;

  > * {
    display: block;
  }

  &:hover {
    --bb-base-bg: rgb(var(--colors-primary-base) / 80%);
  }

  &.--deactivate,
  &.--cancel {
    --bb-base-bg: rgb(var(--colors-status-warning-secondary) / 90%);
    --bb-base-color: var(--colors-text-dark);

    > svg {
      fill: var(--colors-text-dark);
    }

    &:hover {
      --bb-base-bg: rgb(var(--colors-status-warning-secondary-vibrant) / 90%);
    }
  }

  &.--show {
    --bb-base-bg: rgba(91, 70, 108, 0.6);

    &:hover {
      --bb-base-bg: rgba(91, 70, 108, 0.7);
    }
  }

  &.--edit {
    --bb-base-bg: rgba(131, 138, 229, 0.85);

    &:hover {
      --bb-base-bg: rgba(131, 138, 229, 1);
    }
  }

  &.--donate,
  &.--restore,
  &.--pay {
    --bb-base-bg: rgba(61, 174, 118, 0.85);

    &:hover {
      --bb-base-bg: rgba(61, 174, 118, 1);
    }
  }

  &.--delete {
    --bb-base-bg: rgba(162, 46, 75, 0.6);

    &:hover {
      --bb-base-bg: rgba(162, 46, 75, 0.7);
    }
  }

  &.--loading {
    justify-content: center;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    > * {
      opacity: 0;
    }
  }

  &.--xl {
    border-radius: 0;

    &:first-of-type {
      border-top-left-radius: 0.3333rem;
      border-bottom-left-radius: 0.3333rem;
    }

    &:last-of-type {
      border-top-right-radius: 0.3333rem;
      border-bottom-right-radius: 0.3333rem;
    }
  }
}

.action-tooltip {
  background-color: rgb(var(--colors-primary-dark-base) / 90%);
  border: 0;
  border-radius: 4px;
  text-transform: none;
  padding: 8px 16px;
  box-shadow:
    0 4px 20px rgb(0 0 0 / 15%),
    0 4px 6px rgb(0 0 0 / 15%);
  backdrop-filter: blur(1px);
  color: var(--colors-text-white);
  font-size: 14px;
  margin: 0;
  inset: 0;
  transform: translate(-50%);
}
