:root {
  --colors-primary: #5b466c;
  --colors-primary-1: #905abc;
  --colors-primary-14: rgba(91, 70, 102, 0.04);
  --colors-primary-15: rgba(91, 70, 102, 0.05);
  --colors-primary-2: rgba(91, 70, 102, 0.15);
  --colors-primary-3: rgba(91, 70, 102, 0.25);
  --colors-primary-4: rgba(146, 149, 215, 0.4);
  --colors-primary-45: rgba(146, 149, 215, 0.65);
  --colors-text-black: #000000;
  --colors-background-light: #fefefe;
  --colors-background-medium: #eeeeee;
  --colors-foreground-black: #000000;

  font-size: 16px;
  line-height: 145%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--colors-text-black);
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  transition: all 200ms ease-out;
  cursor: pointer;
}

body {
  margin: 0;
}
